<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="unity" type=" Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <connectionStrings configSource="ConfigSections\databaseConnectionStrings.config"/>
  <appSettings>
    <add key="userid" value="uqweqzp{|"/>
    <add key="password" value="$OhhniG9:"/>
    <add key="defaultpwd" value="Nov@123"/>
    <add key="initialcatalog" value="uqweq"/>
    <add key="datasource" value="WIN8ONAIR"/>
    <add key="smsenabled" value="N"/>
    <add key="phonenumber" value="552700000000"/>
    <add key="qtdmaxchsol" value="0"/>
    <add key="msgnegchsol" value="1304"/>
    <add key="msgneggrpchsol" value="1399"/>
  </appSettings>
  <system.web>
    <siteMap enabled="true" defaultProvider="AspNetSqlSiteMapProvider">
      <providers>
        <add name="AspNetSqlSiteMapProvider" type="SqlSiteMapProvider" description="SQL Server site map provider" securityTrimmingEnabled="true" connectionStringName="SiteMapConnectionString"/>
      </providers>
    </siteMap>
    <globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" fileEncoding="iso-8859-1"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

        <add assembly="System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms slidingExpiration="true" timeout="60" loginUrl="Home.html" defaultUrl="Default.aspx"/>
    </authentication>
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
    <machineKey decryption="AES" validation="SHA1" decryptionKey="1513F567EE75F7FB5AC0AC4D79E1D9F25430E3E2F1BCDD3370BCFC4EFC97A541" validationKey="32CBA563F26041EE5B5FE9581076C40618DCC1218F5F447634EDE8624508A129"/>
    <!-- Início Provider Profile -->
    <profile enabled="true" defaultProvider="MedicallProfileSqlProvider">
      <providers>
        <add name="MedicallProfileSqlProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="MedicallConnectionString" applicationName="Medicall"/>
      </providers>
      <properties>
        <group name="Local">
          <add name="IdCtt" defaultValue="" allowAnonymous="false"/>
          <add name="Cte_SeqEnd" defaultValue="" allowAnonymous="false"/>
          <add name="Ctt_Nme" defaultValue="" allowAnonymous="false"/>
          <add name="Lgr_Nme" defaultValue="" allowAnonymous="false"/>
          <add name="Brr_Nme" defaultValue="" allowAnonymous="false"/>
          <add name="Mun_Nme" defaultValue="" allowAnonymous="false"/>
        </group>
        <group name="Seguranca">
          <add name="IdUsr" defaultValue="" allowAnonymous="false"/>
          <add name="Usr_Nme" defaultValue="" allowAnonymous="false"/>
          <add name="IdPpl" defaultValue="" allowAnonymous="false"/>
          <add name="Cte_BioCon" defaultValue="" allowAnonymous="false" type="System.Boolean"/>
          <add name="Cte_BioExe" defaultValue="" allowAnonymous="false" type="System.Boolean"/>
          <add name="BioPrf" defaultValue="" allowAnonymous="false" type="System.Boolean"/>
        </group>
      </properties>
    </profile>
    <anonymousIdentification enabled="true" cookieName=".ASPXANONYMOUS" cookieTimeout="43200" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" cookieless="UseCookies"/>
    <!-- Fim Provider Profile -->
    <membership defaultProvider="MedicallSqlMembershipProvider">
      <providers>
        <!-- Add a customized SqlMembershipProvider -->
        <add name="MedicallSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MedicallConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="Medicall" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MedicallSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="MedicallSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="Medicall" connectionStringName="MedicallConnectionString"/>
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="Off" defaultRedirect="error.html">
      <!--<error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />-->
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" theme="Standard">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpModules/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="home.html"/>
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination="https://tiss.smsaude.com.br" exactDestination="false"/>
    <httpErrors>
      <remove statusCode="403" subStatusCode="-1"/>
      <error statusCode="403" prefixLanguageFilePath="" path="https://tiss.smsaude.com.br" responseMode="Redirect"/>
    </httpErrors>
  </system.webServer>
  <!-- Update the <smtp> settings -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network host="" userName="" password="" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <location path="~/logout.aspx">
    <system.web>
      <authorization>
        <allow roles="?"/>
      </authorization>
    </system.web>
  </location>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="TotalTissInfrastructure"/>
    <namespace name="Sweb.TotalTiss.Infrastructure.Repository"/>
    <container>
      <register type="IProfissionalRepository" mapTo="ProfissionalRepository">
        <lifetime type="singleton"/>
      </register>
      <register type="IGuiaRepository" mapTo="GuiaRepository">
        <lifetime type="singleton"/>
      </register>
      <register type="IBeneficiarioRepository" mapTo="BeneficiarioRepository">
        <lifetime type="singleton"/>
      </register>
      <register type="IContratadoRepository" mapTo="ContratadoRepository">
        <lifetime type="singleton"/>
      </register>
      <register type="IProdutoRepository" mapTo="ProdutoRepository">
        <lifetime type="singleton"/>
      </register>
      <register type="ITipoConsultaRepository" mapTo="TipoConsultaRepository">
        <lifetime type="singleton"/>
      </register>
      <register type="ITipoSaidaRepository" mapTo="TipoSaidaRepository">
        <lifetime type="singleton"/>
      </register>
      <register type="IProcedimentoRepository" mapTo="ProcedimentoRepository">
        <lifetime type="singleton"/>
      </register>
      <register type="ICompetenciaRepository" mapTo="CompetenciaRepository">
        <lifetime type="singleton"/>
      </register>
      <register type="ILoteRepository" mapTo="LoteRepository">
        <lifetime type="singleton"/>
      </register>
      <register type="IOperadoraRepository" mapTo="OperadoraRepository">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Test">
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="connection.connection_string">
        Server=(local);Initial Catalog=Total;Integrated Security=SSPI;Max Pool Size=250;Connection Timeout=60;Connection Lifetime=60;
      </property>
      <property name="show_sql">true</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <mapping assembly="TotalTissInfrastructure"/>
    </session-factory>
  </hibernate-configuration>
</configuration>