<?xml version="1.0"?>
<appSettings>
  <add key="userid" value="uqweqzp{|"/>
  <add key="password" value="$OhhniG9:"/>
  <add key="defaultpwd" value="sm@1234"/>
  <add key="initialcatalog" value="uqweq"/>
  <add key="datasource" value="(local)"/>
  <add key="smsenabled" value="N"/>
  <add key="phonenumber" value="552700000000"/>
  <add key="qtdmaxchsol" value="150"/>
  <add key="msgnegchsol" value="1304"/>
  <add key="msgneggrpchsol" value="1399"/>
</appSettings>

