<?xml version="1.0"?>
<connectionStrings>
  <add name="MedicallConnectionString" connectionString="Password=#Medic@11;Persist Security Info=True;User ID=autorizador;Initial Catalog=TOTAL;Data Source=(local)" providerName="System.Data.SqlClient"/>
  <add name="SiteMapConnectionString" connectionString="Password=#Medic@11;Persist Security Info=True;User ID=autorizador;Initial Catalog=TOTAL;Data Source=(local)" providerName="System.Data.SqlClient"/>
  <add name="AppConnectionString" connectionString="Password=#Medic@11;Persist Security Info=True;User ID=autorizador;Initial Catalog=TOTAL;Data Source=(local)" providerName="System.Data.SqlClient"/>
  <add name="AppEntities" connectionString="metadata=res://*/AppDataModel.csdl|res://*/AppDataModel.ssdl|res://*/AppDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=TOTAL;Persist Security Info=True;User ID=autorizador;Password=#Medic@11;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <add name="ConnString" connectionString="Data Source=(local);Initial Catalog=TOTAL;Password=#Medic@11;User ID=autorizador" providerName="System.Data.SqlClient"/>
</connectionStrings>

