<?xml version="1.0"?>
<connectionStrings>
  <add name="MedicallConnectionString" connectionString="Data Source=GUTO-PC;Initial Catalog=TotalTiss;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="SiteMapConnectionString" connectionString="Data Source=GUTO-PC;Initial Catalog=TotalTiss;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="AppConnectionString" connectionString="Data Source=GUTO-PC;Initial Catalog=TotalTiss;Integrated Security=True" providerName="System.Data.SqlClient"/>      
</connectionStrings>
