<?xml version="1.0"?>
<connectionStrings>
  <add name="MedicallConnectionString" connectionString="Password=#Medic@11;Persist Security Info=True;User ID=autorizador;Initial Catalog=MEDPRD;Data Source=VAL\SQLEXPRESS" providerName="System.Data.SqlClient"/>
  <add name="SiteMapConnectionString" connectionString="Password=#Medic@11;Persist Security Info=True;User ID=autorizador;Initial Catalog=MEDPRD;Data Source=VAL\SQLEXPRESS" providerName="System.Data.SqlClient"/>
  <add name="AppConnectionString" connectionString="Password=#Medic@11;Persist Security Info=True;User ID=autorizador;Initial Catalog=MEDPRD;Data Source=VAL\SQLEXPRESS" providerName="System.Data.SqlClient"/>      
</connectionStrings>
