<?xml version="1.0"?>
<connectionStrings>
  <add name="MedicallConnectionString" connectionString="Data Source=(local);Initial Catalog=Total;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="SiteMapConnectionString" connectionString="Data Source=(local);Initial Catalog=Total;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="AppConnectionString" connectionString="Data Source=(local);Initial Catalog=Total;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="AppEntities" connectionString="metadata=res://*/AppDataModel.csdl|res://*/AppDataModel.ssdl|res://*/AppDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Total;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <add name="ConnString" connectionString="Data Source=(local);Initial Catalog=Total;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>

